/* Style sheet created by: Thaís Emrich Henriques, 04/10/2021 */

/* Styles for Mobile Layout */

 nav {
        background-color: #471743;
        text-align: right;
    }
nav li {
	list-style-type: none;
	color: #d5d5d5;
	display:inline;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;
}

header {
        background-color: #471743;
        color: #d5d5d5;
        padding: 1em;
        width: 60%;
        text-align: center;
        font-size: 1em;
	border-radius: .25em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	}

main {
	background-color: #471743;
}

h3 {
	color: d5d5d5;
}
	

figure {
	max-width: 100%;
}


/* Styles for DESKTOP Layout*/
@media only screen and (min-width:769px) {
figure {
	width:25%;
	display:inline-block;
}

figcaption {
	display:none;
}

figure:hover + figcaption {
	display: block;
}
