/* Style sheet created by: Thaís Emrich Henriques, 04/10/2021 */

/* Styles for Mobile Layout */

 nav {
        background-color: #471743;
        color: #FFFFFFF;
        text-align: right;
        font-size: 1em;
        font-family: "Arial Black", Gadget, sans-serif;
    }

    nav ul {
        list-style-type: none;
        object-position: bottom;
    }

    nav li a {
        text-decoration: none;
        color: #000000;
	}
   header {
        background-color: #471743;
        color: #d5d5d5;
        padding: 1em;
        width: 60%;
        text-align: center;
        font-size: 1em;
		border-radius: .25em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
	}
