/* Style sheet created by: Thaís Emrich Henriques, 04/10/2021 */

/* Styles for Mobile Layout */

nav {
        background-color: #471743;
        text-align: right;
	margin-bottom: 50px;
}

nav li {
	list-style-type: none;
	display:block;
}

nav li a {
	color: #d5d5d5;
	font-size: 1.25em;
	font-family: "Arial Black", Gadget, sans-serif;
	margin: auto;
}


header {
        background-color: #471743;
	box-shadow: 10px 5px 5px #DA70D6;
	padding: 10px;
        color: #d5d5d5;
        text-align: center;
        font-size: 1.5em;
	margin: auto;
	border-radius: 25px;
	border: 3px groove #DA70D6;
}
a {
	color: #d5d5d5;
}

li {
	list-style-type: none;
	color: #d5d5d5;
	text-align: center;
	font-size: 1.25em;
}

h2, h3 {
	color: #d5d5d5;
	text-align: center;
	padding: 20px;
	margin: auto;
}

p {
	color: #d5d5d5;
	text-align: center;
	padding: 25px ;
	margin: auto;
	font-size: 1.5em;
}


figure {
	max-width: 100%;
	padding: 1em;
}

figcaption {
	color: #d5d5d5;
	font-size:1.25em;
}

.container, body {
	background-color: #471743;
	margin: auto;
}

img, button, audio {
	display: block;
	margin: auto;
	max-width:100%;
}


#research-img {
	filter: blur(3px);
}

.desktop {
	visibility: hidden;
}


/* Styles for DESKTOP Layout*/
@media only screen and (min-width:769px) {
	
header {
	padding: 20px;
        font-size: 2em;
	margin: 30px auto;
	width: 30%;
	font-size:2em;
}

nav li {
	font-size:1.75em;
	display: inline;
}
	
h2, h3 {
	padding: 20px;
	margin: 0px 400px;
}

p {
	padding: 25px ;
	margin: 0px 400px;
	font-size: 1.5em;
}

	
.gallery {
	column-count: 2;
	column-gap: 40px;
	column-rule-style: groove;
	column-rule-width: 5px;
	column-rule-color: #d5d5d5;
	margin-top: 40px;
}

.mobile {
	visibility: hidden;
}

.desktop {
	visibility: visible;
}
	
	
figure {
	position: relative;
}

figcaption {
	visibility:hidden;
	position: absolute;
	top: 50%;
	left: 15%;
	font-size: 1.25em;
	padding: 10px;
}
	
.home-captions {
	font-size: 1.75em;
	left:35%
}

figure:hover figcaption {
	visibility: visible;
	color: #d5d5d5;
	background-color:#471743;
	border-radius: 25px;
}

figure:hover img{
	opacity: .5;
}
