img {
    width: 160px;
  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    background-color: #FFB6D5;
  }
  figcaption {
    vertical-align: text-bottom;
    float: right;
    font-size: 19px;
    margin-left: 2em;
  }

  h1 {
    text-align: center;
    color: #800080;
    font-size: 40px;
  }

  h2 {
    text-align: center;
    color: #800080;
    font-size: 40px;
    vertical-align: center;
  }
  
  .option-image {
    width: 25%;
    margin-right: 23em;
    margin-top: 3em;
    float: right;  
}

  .header {
    background-color: #ff99cc;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .header p {
    font-family: arial;
    font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
  }
  
  .header h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: #800080;
  }
  
  .interface {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFB6D5;
  }
  
  .interface a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .interface img {
    width: 120px;
    height: 120px;
  }
  
  .img-avatar {
    width: 160px !important;
    height: 160px !important;
  }
  
  .interface div {
    width: 220px;
    padding: 0 10px 0 20px;
    background-color: #211510;
  }
  
  .interface a:hover div {
    background-color: #3c1d3d;
  }
  
  .interface h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #800080;
    padding: 12px 0 4px;
  }
  
  .interface p {
    font-family: arial;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
  }
  
  .btn-prefight {
    width: 100% !important;
  }
  
  .action {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .action a {
    width: 33.33%;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    font-family: arial;
    color: #ffffff;
  }
  
  .action a:nth-of-type(1) {
    background-color: #ff99cc;
  }
  
  .action a:nth-of-type(2) {
    background-color: #e6ce47;
  }
  
  .action a:nth-of-type(3) {
    background-color: #6de647;
  }
  
  .action a:hover {
    opacity: 0.9;
  }
  
  .arena {
    width: 100%;
    height: 180px;
    background-color: #FFB6D5;
    background-image: url("img/arena-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35vh;
    visibility: hidden;
  }
  
  .hyung {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ff99cc;
  }
  
  .hyung a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .hyung img {
    width: 120px;
    height: 120px;
  }
  
  .hyung div {
    width: 220px;
    padding: 0 10px 0 20px;
    background-color: #211510;
  }
  
  .hyung a:hover div {
    background-color: #3c1d3d;
  }
  
  .hyung h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #800080;
    padding: 12px 0 4px;
  }
  
  .hyung p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }